<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html"><%= title %></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Upcoming</a></li>
              <li><a href="/sign-in" class="button">Sign In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<img class="main-logo" src="/images/TUDLogo.png">
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
							<h2>Sign In</h2>

              <div class="signin-form">
                <div class="row gtr-50 gtr-uniform">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <div class="col-12">
                      <hr>
                    </div>
                    <div class="col-12">
                      <form>
                          <div class="col-12">
                            <input type="email" name="email" id="email" placeholder="Email Address" />
                          </div><br>
                          <div class="col-12">
                            <input type="password" name="password" id="password" placeholder="Password" />
                          </div><br>
                          <a href="/dashboard"><div class="col-12">
                            <input value="Sign In" class="fit" style="background-color: #00486B; border-radius: 10px; text-align: center;"/>
                          </div></a>
                      </form>
                    </div>
                  </div>
                  <div class="col-2"></div>
                </div>
              </div>


						</header>
						<span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
					</section>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Jack Mallon</li><li>B00096918</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
