<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/forms.css" />

    <style>
      .box{
        height: 25em; !important
      }
    </style>

	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/admin">Admin</h1>
				<nav id="nav">
					<ul>
            <li><a href="/admin">Upcoming</a></li>
						<li><a href="/admin/past-elections">Past Elections</a></li>
						<li><a href="/admin/new">New Election</a></li>
						<li><a href="/admin/new-candidate">New Candidate</a></li>
						<li><a href="/logout" class="button">Log Out</a></li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
        <img class="main-logo" src="/images/TUDLogo.png">
        <ul class="actions special">
        </ul>
			</section>

			<!-- Main -->
			<section id="main" class="container" >
				<section class="box special elections-top-margin form-box">
					<div id="header-box" style="margin-bottom: 1em;">
						<header class="major">
							<h2 style="font-weight: 500;">Create New Election</h2>
						</header>
					</div>

					<form action="http://localhost:3200/election" target="_blank" style="color: black" method="POST">
						<label for="field1">
							<input type="text" class="input-field" name="title" id="title" placeholder="Election Title" />
						</label>
						<label for="field1">
							<input type="date" id="date" name="date" />
						</label>
						<label for="field1">
							<input type="time" id="time" name="time" />
						</label>
						<label><span> </span><input type="submit" value="Submit" /></label>
					</form>

					<a href="/admin" class="button" style="height: 3em;  line-height: 3em;">Add Candidates</a>
				</section>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>Jack Mallon</li><li>B00096918</a></li>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
